@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-600 */
  border-radius: 10px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}